<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/style.css" />
    <link rel="stylesheet" href="/public/styles/header.css" />
    <link rel="stylesheet" href="/public/styles/about.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Ujjwal Poudel</title>
</head>

<body>
    <header class="header">
        <%- include('../views/partials/header.ejs') %>
    </header>

    <main class="main container">
        <!-- ======= Hero Section ======= -->
        <div id="hero" class="hero route bg-image" style="background-image: url(assets/img/hero-bg.jpg)">
            <div class="overlay-itro"></div>
            <div class="hero-content display-table">
                <div class="table-cell">
                    <div class="container" style="text-align: center; color: #FFFFFF; height: 100vh; padding: 300px 0px;">
                        <h1>Hello There</h1>
                        <h1 class="hero-title mb-4">I am Ujjwal Poudel</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Hero Section -->

        <section class="about-page" id="about-page">
            <%- include('./partials/about.ejs/') %>
        </section>

        <section class="skills-page" id="skills-page">
            <%- include('./partials/skills.ejs/') %>
        </section>

        <section class="projects-page" id="projects-page">
            <%- include('./partials/projects.ejs/') %>
        </section>

        <section class="contact-page" id="contact-page">
            <%- include('./partials/contact.ejs')%>
        </section>
    </main>

</html>